.create-div {
    display: block;
  }
  
  .create-title {
    width: 1160px;
    height: 50px;
  }

  .title-div {
    margin-bottom: 30px;
  }
  
  .create-description {
    display: block;
    height: 100px;
    width: 1160px;
  }
  
  .description-div {
    margin-bottom: 20px;
  }

  .create-img {
    width: 1160px;
  }

  .img-div {
    margin-bottom: 30px;
  }
  
  .create-btn {
    margin-bottom: 42px;
    margin-left: 555px;
    cursor: pointer;
  }

  .category-select {
    margin-bottom: 30px;
    display: flex;
  }