.createDiv {
    display: block;
  }
  
  .createTitle {
    width: 1160px;
    height: 50px;
  }

  .titleDiv {
    margin-bottom: 30px;
  }
  
  .createDescription {
    display: block;
    height: 100px;
    width: 1160px;
  }
  
  .descriptionDiv {
    margin-bottom: 20px;
  }

  .createImg {
    width: 1160px;
  }

  .imgDiv {
    margin-bottom: 30px;
  }
  
  .createBtn {
    margin-bottom: 42px;
    margin-left: 555px;
    cursor: pointer;
  }

  .categorySelect {
    margin-bottom: 30px;
    display: flex;
  }