@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    font-family: 'Indie- Flower', cursive;
}

.app {
  width: 1170px;
  margin: auto;
}

.header {
  display: block;
  margin: auto;
}

.long-articles {
  list-style: none;
  width: 100%;
  padding-left: 80px;
  padding-bottom: 20px;
}

.li-article {
  padding: 6px;
  width: 100%;
  background-color: #FFF;
  margin-bottom: 150px;
  display: list-item;
  font-size: 12px;
}

.article-img {
  float: left;
  margin-right: 10px;
  display: block;
  max-width: 100%;
  position:static;
}

.article-img img{
  height: 180px;
  width: 295px;
}

.long-article-title {
  padding-left: 10px;
  color: black;
  text-decoration: none;
}

.h1-heading {
  text-align: center;
  color: rgb(0, 0, 182);
}

.details-title {
  padding-top: 30px;
}

.details-img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.details-img img {
  height: 400px;
  width: 700px;
  max-width: 100%;
  border-radius: 5%;
}

.info-part {
  width: 700px;
  padding-bottom: 40px;
  padding-left: 200px;
}